.footer{
    background: #04091E;
    padding: 6.5rem 0;
    color: white;
    .nl-form input[type="email"]{
        padding: 0.4rem;
        border: 0;
        width: 80%
    }
    .nl-btn{
        border: 0;
        background-color:#D1AB7F;
        padding: 0 .8rem;
    }
    h5{
        margin-bottom: 2rem;
    }
    .copyright{
        margin-top: 70px;
    }
}